Daily Traces Email.json
{
  "name": "Apaleo Daily Traces Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "id": "bce67546-d2c3-4cd6-9371-edebb3890b3c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return {\n  accountId: 'ACCOUNT_ID',\n  propertyId: 'PROPERTY_ID',\n  emailTo: ['EMAIL_ADDRESS']\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "id": "d72cc81f-ebda-45fd-8196-c02b88b9fbd9",
      "name": "Account details"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM trace_logs\nWHERE \n  apaleo_account_id = '{{ $json.accountId }}'\n  AND apaleo_property_id = '{{ $json.propertyId }}'\n  AND created_at >= DATE('{{ $('Schedule Trigger').item.json.timestamp }}') - INTERVAL '1 day'\n  AND created_at <  DATE('{{ $('Schedule Trigger').item.json.timestamp }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -16
      ],
      "id": "e4451d5a-8f30-498a-b4ca-258bd2a96c9e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xxxxxxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "Your Company Name <no-reply@yourdomain.com>"
            },
            {
              "name": "to",
              "value": "={{ $('Account details').first().json.emailTo }}"
            },
            {
              "name": "subject",
              "value": "=Traces report {{ $('Schedule Trigger').first().json[\"Readable date\"] }}"
            },
            {
              "name": "attachments",
              "value": "={{ $json.attachments }}"
            },
            {
              "name": "html",
              "value": "=<h1>Daily traces report {{ $('Schedule Trigger').item.json['Readable date'] }} </h1>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -16
      ],
      "id": "47aefcad-bb59-427a-99f2-08226939a8b2",
      "name": "Send email"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        896,
        -16
      ],
      "id": "802d9358-6ced-4cbe-bea0-a4cea0e88a9d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — transform + stable grouping & sorting\n\nconst input = $input.all().map(i => i.json);\n\n// 1. Group by sweeply_trace_id\nconst groupsMap = input.reduce((acc, row) => {\n  const key = row.sweeply_trace_id ?? 'unknown';\n  if (!acc[key]) {\n    acc[key] = [];\n  }\n  acc[key].push(row);\n  return acc;\n}, {});\n\n// 2. For each group: sort rows by created_at ascending\nfor (const key of Object.keys(groupsMap)) {\n  groupsMap[key].sort((a, b) => {\n    const da = new Date(a.created_at).getTime();\n    const db = new Date(b.created_at).getTime();\n    return da - db;\n  });\n}\n\n// 3. Sort groups by the date of their first row (i.e. earliest created_at)\nconst sortedGroupKeys = Object.entries(groupsMap)\n  .map(([key, rows]) => ({\n    sweeply_trace_id: key,\n    firstCreated: new Date(rows[0].created_at).getTime(),\n    rows,\n  }))\n  .sort((a, b) => a.firstCreated - b.firstCreated)\n  .map(g => g.sweeply_trace_id);\n\n// 4. Flatten to output array, preserving group-wise run order\nconst output = [];\n\nfor (const sweeplyId of sortedGroupKeys) {\n  for (const row of groupsMap[sweeplyId]) {\n    const t = row.trace || {};\n    output.push({\n      json: {\n        sweeply_trace_id: sweeplyId,\n        internal_id: row.id,\n        booking_id: row.booking_id,\n        reservation_id: row.webhook_entity_id ?? t.reservation_id,\n        property_id: row.apaleo_property_id ?? t.apaleo_property_id ?? t.property_id,\n        title: t.title,\n        description: t.description,\n        assigned_to: t.assigned_to\n          ? Object.keys(t.assigned_to).join(', ')\n          : '',\n        action: t.action,\n        sweeply_status: row.sweeply_status,\n        created_at: row.created_at,\n        source_comments: row.source_comments\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ],
      "id": "0d8a1f1c-c336-47ec-ac7d-1c897acc4225",
      "name": "Extract necessary sheet data"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst filename = $binary.data.fileName\nreturn [{ json: { attachments: [{\n  filename,\n  content: base64\n}] } }];\n// Returns the data in the binary buffer for the first input item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ],
      "id": "060dbafb-493b-4cfc-85d3-aee344231895",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Account details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account details": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Extract necessary sheet data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract necessary sheet data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a0d7a4e-64c5-4f1d-99a4-7061294103c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}